# functions

In [2]:
def avg():
    a= int (input ("Enter no 1"))
    b=int (input ("Enter no 2 "))
    c=int (input ("Enter no 3 "))
    print ((a+b+c)/3)

In [6]:
avg()

Enter no 1 5
Enter no 2  6
Enter no 3  7

6.0

In [3]:
def fact(n):
    if (n==1 or n==0):
        return 1
   
    return n*fact(n-1)

In [5]:
fact(5)

120

In [97]:
def great(a,b,c):
    if (a>b and a>c ):
        return a 
    elif (b>a and b>c):
        return b

    else : return c

In [123]:
a=great(25,76,40)
print (f"{a} degree  celcious")

76 degree  celcious

In [107]:
# c/5=frenite-32/9
def cel(f):
    return ((f-32)*5/9)

In [109]:
cel(98)

36.666666666666664

In [125]:
def sum(n):
    if (n==1):
        return 1
    return n+sum(n-1)

In [127]:
sum(5)

15

In [149]:
def patt(n):
    if (n==0):
        return 
    print(" ^ " *(n),end ="")
    print("")
    patt(n-1)

In [151]:
patt (3)

 ^  ^  ^
 ^  ^
 ^

In [249]:
l1= ['  amol  ', '   arnav','soham','sujal']
def rmo(n,l):
    m=[]
    for i in l:
        if not (i==n):
            m.append(i.strip(" "))
    return m

In [251]:
a=rmo('arnav',l1)
print (a)
print(l1)

['amol', 'arnav', 'soham', 'sujal']
['  amol  ', '   arnav', 'soham', 'sujal']

In [17]:
def avg (*numbers ): # numbers is a touple 
    sum =0
    for i in numbers :
        sum =sum + i /len(numbers)
    print ("average is :",sum )
    return sum 
avg(1,4,8,5,6)

average is : 4.8

4.8

In [19]:
avg (1,9,3,7,8,0,47,8,3,1,6,8,5)

average is : 8.153846153846155

8.153846153846155

In [ ]:
# for as a dictionary 
# (** numbar )

# enumerate function in python

In [38]:
# ordinary method 
marks =[54,87,56,87,9,36,27,87,45,79]
index =0
for i in marks:
    print (i)
    if index ==4:
        print ("this is 4 th index ")
    index +=1

54
87
56
87
9
this is 4 th index
36
27
87
45
79

In [46]:
# enumerate method 
marks =[54,87,56,87,9,36,27,87,45,79]

for index,i in enumerate( marks,start =1):
    print (index,i)
    if index ==4:
        print ("this is 4 th index ")

1 54
2 87
3 56
4 87
this is 4 th index
5 9
6 36
7 27
8 87
9 45
10 79

# local and global veriable

In [86]:
x= 10
def fun():
    x=8
    y=7
    print(x)
fun()
print (x)
# print (y)

8
10

In [80]:
x= 10
def fun():
    global x
    x=8
    print(x)
fun()
print (x)

8
8

# annonumous function lambda function

In [101]:
double =lambda x :x*2
cube =lambda x:x*x*x
avg =lambda x,y:(x+y)/2

In [105]:
print(double (10))
print(cube (9))
print (avg (10,20))

20
729
15.0

In [107]:
def app(fx,f):
    return 4+fx(f)

app(lambda x:x*x,4)  # annomous function

20

# dir __dict__   Help ()

In [114]:
x=[2,23,65,87,9,67,44]
print (dir(x))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [118]:
x.__iadd__

In [144]:
class student :
    def __init__(self ,name ,age ,no):
        self.name =name
        self.age =age 
        self.number =no 
a=student("amol",21,23456)
print(a.__dict__)    # convert all veriables into touple  

print(help(student))

{'name': 'amol', 'age': 21, 'number': 23456}
Help on class student in module __main__:

class student(builtins.object)
 |  student(name, age, no)
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, no)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

None