# List

In [167]:
#"lists" are mutable can change but "strings" are not 
Fruit= ["apple","banana","mango","pinapple", 1,2,]
print(Fruit)
print (type(Fruit))
Fruit[1]="amol"
Fruit

['apple', 'banana', 'mango', 'pinapple', 1, 2]
<class 'list'>

['apple', 'amol', 'mango', 'pinapple', 1, 2]

In [169]:
Fruit [5]="Amol"

In [171]:
Fruit.append("wara")
Fruit.pop(1)
Fruit.remove("wara")
Fruit.insert(4,"wara")

In [173]:
Fruit

['apple', 'mango', 'pinapple', 1, 'wara', 'Amol']

In [182]:
l1=[1,4,2,8,5,6,4]

In [184]:
l1.sort()
l1.reverse()
l1.insert(3,3)
l1

[8, 6, 5, 3, 4, 4, 2, 1]

# touple

In [258]:
a= (1,2,3,3,3,'amol','wara',12)
print (type(a))
b=(1)    #integer  
print (type (b))
c=(1,)   # touple wit single element 
print (type(c))
print (a)

<class 'tuple'>
<class 'int'>
<class 'tuple'>
(1, 2, 3, 3, 3, 'amol', 'wara', 12)

In [260]:
# touple metod 
print (a.count (3)) 
d=a.index ("amol")
print (d)
print(len(a) )
print (a[1:4])

3
5
8
(2, 3, 3)

In [270]:
tup=(1,4,3)
e,f,g=tup   
print (e+f+g)

8

# questions

In [287]:
fruit =[]
f1=input ("Enter fruit name ")
fruit.append(f1)
f2=input ("Enter fruit name ")
fruit.append(f2)
f2=input ("Enter fruit name ")
fruit.append(f2)
f2=input ("Enter fruit name ")
fruit.append(f2)
f2=input ("Enter fruit name ")
fruit.append(f2)


print (fruit )

Enter fruit name  amol
Enter fruit name  wara
Enter fruit name  cha
Enter fruit name  uhd
Enter fruit name  ari

In [295]:
marks =[]
f1=input ("Enter marks name ")
marks.append(f1)
f2=input ("Enter marks name ")
marks.append(f2)
f2=input ("Enter marks name ")
marks.append(f2)
f2=input ("Enter marks name ")
marks.append(f2)
f2=input ("Enter marks name ")
marks.append(f2)

marks.sort()
print (marks)

Enter marks name  54
Enter marks name  34
Enter marks name  12
Enter marks name  43
Enter marks name  87

['12', '34', '43', '54', '87']

In [297]:
l2 = [2,4,5,6]
print (sum(l2))

17

In [303]:
l3=(3,5,3,2,0,0,0)
print (l3.count (0))
print (sum(l3))

3
13