# walrus operator( :=)

In [18]:
if (n:=len([1,2,3,4,5,6,7,8]))>3:
    print (f"list is t long {n} expected <=3 ")

list is t long 8 expected <=3

In [20]:
a:int =5
b:str ='amol'
def

In [30]:
def http_status(status):
    match status:
        case 100:
            return 101
    
        case 200:
            return 201
    
        case 300:
            return 301
    
        case _: 
            return "ok"

In [34]:
http_status (20)

'ok'

In [44]:
dic1= {1:"a",4:"d",3:"c"}
dic2={2:"B",5:"e",6:"f"}
dic4=dic1|dic2
dic4

{1: 'a', 4: 'd', 3: 'c', 2: 'B', 5: 'e', 6: 'f'}

In [46]:
# exception handling

In [68]:
try :
    a= int (input ("enter the number :"))
    print (a)

except Exception as e:
    print ("other")
    print (e)
else :
    print ("i am inside else ")

    print ("thank you ")
finally :
    print ("finaly block always runs ")

enter the number : 21

21
i am inside else
thank you
finaly block always runs

In [80]:
a= int (input ("enter the f no :"))
b=int (input("Enter thr s no "))

if (b==0):
    raise ZeroDivisionError("hey the no is not divisible by 0 ")

else: 
    print (f"the division is {a/b}")

enter the f no : 2
Enter thr s no  6

the division is 0.3333333333333333

In [101]:
from mymodule import myfun

ModuleNotFoundError: No module named 'mymodule'

In [105]:
a=42
def fun ():
    global a
    a=3
    print( a)

b=fun()
print (a)

3
3

In [107]:
l=[1,2,4,6,5,897,980,90]
# index =0
# for item in l:
#     print (f"item number it index {index } is {item}")
#     index +=1
    

for index ,item in enumerate(l):
    print (f"item number it index {index } is {item}")

item number it index 0 is 1
item number it index 1 is 2
item number it index 2 is 4
item number it index 3 is 6
item number it index 4 is 5
item number it index 5 is 897
item number it index 6 is 980
item number it index 7 is 90

In [109]:
# comprehensions

In [114]:
l2=[1,2,3,4,5,6,7]
l4=[]
for i in l2:
    l4.append(i*i)

print (l4)
    

    

l3=[i*i for i in l2]
print (l3)

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# Questions

In [118]:
n=3 
table= [i*n for i in range (1,11)]
print (table)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [126]:
a= int (input ("Enter the num a"))
b= int (input ("Enter the num b"))

if (b==0):
    raise ZeroDivisionError(" infinity ")
else : 
    print(a/b)

Enter the num a 9
Enter the num b 0

ZeroDivisionError:  infinity