In [3]:
a=1 
b="amol"
c=9.2
print (a )
print (b )
print (c)

1
amol
9.2

# assignment opprator

In [12]:
a=1+2
a+=3
print (a)
a==6

6

True

# logical operator

In [31]:
e=True and  False
print (e)
f=True or False 
print (f)

#truth table 
print ("Trur or False is ",True or False )
print ("Trur or True is ",True or True  )
print ("False or False is ",False or False )
print ("False or True is ",False or True  )

# truth table for and 
print ("True and  False is ",True and  False )
print ("True and  True is ",True and  True  )
print ("False and  False is ",False and  False )
print ("False and  True is ",False and  True  )

print (not(f))

False
True
Trur or False is  True
Trur or True is  True
False or False is  False
False or True is  True
True and  False is  False
True and  True is  True
False and  False is  False
False and  True is  False
False

# Type casting

In [3]:
a=float (input ("inter the number "))
print (type (a))
b=float(a)
print (type (b),b)
c= int (b)
print (c)

inter the number  58.2

<class 'float'>
<class 'float'> 58.2
58

In [96]:
a=int (input("Enter the no a :"))
b=int (input("enter the no b"))
print (a+b)

Enter the no a : 2
enter the no b 6

8

In [100]:
a=int (input ("enter the no" ))
b=int (input("enter the no b "))
print ("reminder of  a divided by b is ", a%b)

enter the no 57
enter the no b  2

reminder of  a divided by b is  1

In [112]:
t=input("enter any thing :")
b= (type(t))
print (b)

enter any thing : 5.4

<class 'str'>

In [118]:
a=int(input ("Enter no a"))
b=int (input ("Enter no b :"))
if (a>=b): 
    print ("a is grater ")
else: print ("b is grater ")

Enter no a 56
Enter no b : 87

b is grater

In [120]:
a=int(input ("Enter no a"))
b=int (input ("Enter no b :"))
print ("Average is :",(a+b)/2)

Enter no a 3
Enter no b : 6

Average is : 4.5

In [33]:

a=(input ("Enter no a"))
b=float(a)
print (b)
# print ("the square of the no. is :",a*a)
print (type (b))

Enter no a 31

31.0
<class 'float'>