In [230]:
class Employe:
    lang="java"
    age =12
    sal = 999
    def __init__(self,name ,lan ,ag,sl ):  # dunder method which i sautomaticaly called starts With ( __ )
        print ("i am constructor ")
        self.name =name 
        self.lang=lan 
        self.age =ag
        self.sal = sl
    
    def getinfo(self):
        print (f"name : {self.name }\n language : {self.lang } \n age :{self.age }\n salary : {self.sal}")
        
    @staticmethod #  if no vaue taken from any class or object
    def greet( ):
        print (f"hello ")

In [150]:
hari = Employe()
hari.name ="harri"
print(hari.sal, hari.name)   
amol=Employe()
amol.name = "Amol"
amol.lang ="python"
hari.getinfo()    ####
print (amol.name)

999 harri
the salary is 999, and the language is java and harri.
Amol

In [205]:
amol.greet()

hello

# constructor

In [238]:
wara = Employe("war","javascript",18,123456)

i am constructor

In [240]:
print (wara.name,wara.lang,
wara.age,
wara.sal)

war javascript 18 123456

In [242]:
wara.getinfo()

name : war
 language : javascript
 age :18
 salary : 123456

In [244]:
# questiions

In [264]:
class programmer:
    company= "microsoft"
    def __init__(self,name ,sal,pin ):
        self.name =name
        self.sal=sal 
        self.pin =pin
    def getinfo(self ):
        print (f" name : {self.name} \n salary : {self.sal} \n pincode :{self.pin} ")
a=programmer("amol",12345,421234)
a.getinfo()
b=programmer("wara",32145,65432)
b.getinfo()

 name : amol
 salary : 12345
 pincode :421234
 name : wara
 salary : 32145
 pincode :65432

In [289]:
class calculater:
    def square (self ,n):
        return n*n

    def cube (self ,n):
        return n**3

    def sqrt(self , n):
        return n**(1/2)

    def cubert(self ,n):
        return n**(1/3)

In [299]:
a=calculater ()
a.cubert(6)

4.020725758589058

# decorator

In [49]:
def greet(fn):
    def mfx():
        print ("welcome in greet ")
        fn()
        print ("function run ")
    return mfx

@greet
def h():
    print ("hello world")
h()

welcome in greet
hello world
function run

In [51]:
def h():
    print ("hello world")
greet(h)()

welcome in greet
hello world
function run

# getter and setter

In [100]:
class myclass ():
    def __init__(self ,v):
        self.value =v

    def info():
        print (f"the value is {value} ")

    @property
    def ten_value (self):
        print (self.value)
        return 10*self.value

    @ten_value.setter
    def ten_value(self ,nvalue):
        self.value=nvalue/10

In [102]:
a=myclass(25)
a.ten_value=35

In [104]:
print (a.ten_value)

3.5
35.0

# privet varible

In [107]:
class student :
    def __init__(self ):
        self.__name ="amol"

In [115]:
a=student ()
a._student__name  # access by following class name by

'amol'

In [118]:
print (a.__dir__()) # for list of method

['_student__name', '__module__', '__init__', '__dict__', '__weakref__', '__doc__', '__new__', '__repr__', '__hash__', '__str__', '__getattribute__', '__setattr__', '__delattr__', '__lt__', '__le__', '__eq__', '__ne__', '__gt__', '__ge__', '__reduce_ex__', '__reduce__', '__getstate__', '__subclasshook__', '__init_subclass__', '__format__', '__sizeof__', '__dir__', '__class__']

# static method

In [ ]:
# not associate with class 
# without self argument

In [136]:
class math:
    def __init__(self ,num):
        self.num =num
    def addton(self,n):
        self.num=self.num+n

    @staticmethod
    def addtwo(a,b):
        return a+b




a=math(10)
print (a.num)
a.addton(12)
print (a.num)
a.addtwo(44,13)

10
22

57

In [128]:
a=math(10)
print (a.num)

10

In [226]:
class employe:
    no_of_emp=0
    company="apple"         # class veriable associate with class comon for all
    def __init__(self,name):
        self.name=name
        self.rise=0.2           # instant variable associate with object 
        employe.no_of_emp+=1
    def show(self):
        print (f"the name is {self.name} and raise is {self.rise} and company is {self.company } and no.of employe are {self.no_of_emp} ")
    def changename (cls,name ):
        cls.name =name 

    @classmethod
    def changecompany(self ,comp):   # change for class 
        self.company =comp

In [224]:
a=employe("amol")

a.rise=0.6
a.show()
# or
employe.show(a)
b=employe("gaurav")
employe.show (b)
a.company ="asus"
print (a.company)   # instant vriable 
a.changename ("chaudhari")
a.show()

the name is amol and raise is 0.6 and company is apple and no.of employe are 5
the name is amol and raise is 0.6 and company is apple and no.of employe are 5
the name is gaurav and raise is 0.2 and company is apple and no.of employe are 6
asus
the name is chaudhari and raise is 0.6 and company is asus and no.of employe are 6

In [196]:
print (employe.company)
employe.company="samsung"      # class veriable 
print (employe.company)

apple
samsung

In [200]:
employe.no_of_emp

2

In [228]:
employe.changecompany ("infinix")

In [232]:
employe.company

'infinix'

In [268]:
class employe:
    def __init__(self ,name ,sal):
        self .name=name
        self.salary =sal
        # or method 

    @classmethod 
    def fromstr(self ,str ):         #                          # class method as a alternative constructor  
        return self(str.split ("-")[0],str.split ("-")[1])

In [262]:
a=employe("amol",1200)
string = "AMOL-12000"
b=employe (string.split("-")[0],string .split ("-")[1])

In [256]:
print (b.name ,b.salary )
print (a.name ,a.salary )

AMOL 12000
amol 1200

In [272]:
c=employe.fromstr("Chaudhari-32000")

In [281]:
print (c.name ,c.salary)

Chaudhari 32000