In [23]:
class Employe :
    company = "tcs"
    def getinfo(self):
        print (f"the employe if comp {self.company}")

In [37]:
class coder:
    lang= "java"
    def show(self):
        print (f"the language is {self.lang}")

In [47]:
class prog(Employe,coder):  # multiple inharitance 
    company="infocsis"
    lang ="python"

In [49]:
a=prog()
b=Employe()

In [51]:
a.getinfo()
b.getinfo()
a.show()

the employe if comp infocsis
the employe if comp tcs
the language is python

In [53]:
# multi level inhiratance

In [91]:
class Employe :
    a=1
    def __init__(self ):
        print ("i am a Employe " )

class coder(Employe):
    
    b=2
    def __init__(self ):
        super().__init__()
        print ("i am a coder  " )

class manager (coder):
    c=3
    def __init__(self ):
        super().__init__()
        print ("i am a mamager " )

In [93]:
a=Employe ()

i am a Employe

In [95]:
b=manager()

i am a Employe
i am a coder
i am a mamager

In [66]:
class Employe :
    
    a=1
    
    def __init__(self ):
        print (f"i am a Employe {self.a}" )
    @classmethod
    def show (cls):
        print (cls.a)

    @property
    def name (self ):
        return f"{self.fname}{self.lname}" 

    @name.setter
    def name (self,value):
        self.fname= value.split(" ")[0]
        self.lname= value.split(" ")[1]

In [74]:
a=Employe()
a.name ="amol chaudhari"
print(a.fname)
print(a.lname)

i am a Employe 1
amol
chaudhari

In [48]:
a.a    =23
a.show()

1

In [58]:
a="amol chaudhari"
b=a.split(" ")
print(b)
print (a.split(" ")[0])
print (a.split(" ")[1])

['amol', 'chaudhari']
amol
chaudhari

In [100]:
class number :
    def __init__(self,n):
        self.n=n

    def __add__(self ,num):
        return self.n + num.n
n=number(5)
m=number (2)
print (n+m)

7

In [132]:
class twod:
    def __init__(self,i,j):
        self.i=i
        self.j=j
    def show(self):
        print(f"vector is {self.i}i + {self.j}j")
class threed( twod):
    def __init__(self,i,j,k):
        super().__init__(i,j)
        self.k=k
    def show(self):
        print (f"the vector is {self.i}i+ {self.j}j+{self.k}k")

In [134]:
a=twod(3,2)
a.show()

vector is 3i + 2j

In [140]:
b=threed(2,5,4)
b.show()

the vector is 2i+ 5j+4k

In [152]:
class animal:
    def __init__(self):
        print ("i am animal")
         
class pet(animal):
    def __init__(self):
        print ("i am pet")
        
class dog(pet):
    def __init__(self):
        print ("i am dog ")
    @classmethod
    def bark(self):
        print ("bhaw bhaw ")

In [154]:
a=dog 
a.bark()

bhaw bhaw

In [190]:
class Employe:
    salary =10000
    incr= 20
    @property
    def salaryafterincre(self):
        return self.salary+(self.salary*self.incr/100)
    @salaryafterincre.setter
    def salaryafterincre(self,insalary):
        self.incr= (insalary/self.salary+1)*100

In [200]:
a=Employe()
a.salaryafterincre=1200
a.incr

112.00000000000001

In [216]:
class comp:
    def __init__(self,r,i):
        self.r=r
        self.i =i
    def __add__(self,c2):
        return (self.r+c2.r ,self.i+c2.i)

    def __mul__(self,c2):
        real=self.i*c2.i-self.r*c2.r
        img=self.r*c2.i+self.i*c2.r
        return comp(real,img)

    def __str__(self):
        return f"{self.r} + {self.i}i"

a=comp(2,3)
b=comp(3,4)
c=(a+b)
print (a*b)
print (c)

6 + 17i
(5, 7)

In [311]:
class vector :
    def __init__ (self,x,y,z ):
        self.x=x
        self.y=y
        self.z=z
    def __add__(self,v2 ):
        result=self.x+v2.x,self.y+v2.y,self.z+v2.z
        return (result)

    def __mul__(self,v2):
        result=self.x*v2.x+self.y*v2.y+self.z*v2.z
        return result
    def __str__(self):
        return f"vector({self.x}i+{self.y}j+{self.z}k) "

In [313]:
v1=vector(2,3,4)
v2=vector(5,6,7)

print (v1+v2)
print (v1*v2)

(7, 9, 11)
56

# super Keyword

In [69]:
class parent:
    def parentm(self):
        print ("this is parent method ")

class child (parent):
    def __init__(self ,name ):
        self.name = name 

    def __len__(self):
        i=0 
        for c in self.name:
            i=i+1
        return i
    def parentm (self ):
        
        print ("thid is child ")
        super().parentn()
    def child (self):
        print ("child 2")
        super().parentm()

In [71]:
a=child("Amolcc")
a=child ("amol")
a.child ()

child 2
this is parent method

In [73]:
print (len (a ))

a
m
o
l
4

# over riding

# operator overloading

In [111]:
class shape :
    def __init__(self ,b,l):
        self.breadth =b
        self.length =l
    def area(self ):
        return self.length *self.breadth 
class circle(shape ) :
    def __init__(self ,r ):
        self.radius =r
    def area(self ):
        return 3.14*self.radius*3.14

In [117]:
a=circle(10)
a.area()

98.596

In [ ]:
# single inheritnce 
# multilevel inheritance 
# multiple inveritance 
# hirarcal inheritance   (tree )
# hybrid