# while loop

In [26]:
n=6
m=True
while (m==True):
    i =int(input ("enter thr no "))
    if (i==n):
        m=False 
        print ('match ')
    else: print ("not match")

enter thr no  6

match

In [24]:
i=1
while (i<6):
    print (i)
    i+=1

1
2
3
4
5
amol
1
4
chaudhari
number
True

In [28]:
i=0
l1 =['amol',1,4,"chaudhari","number",True ]
while (i<len(l1)):
    print (l1[i])
    i+=1

amol
1
4
chaudhari
number
True

# for loop

In [30]:
# (start ,stop ,stepsize)
for i in range (0,11,2):
    print (i)

0
2
4
6
8
10

In [40]:
l2 =['amol','jagdish','chaudhari',1,2,3,4 ]
l3=('samol','sjagdish','schaudhari',1,2,3,4)
l4 ='samol'
# list 
for i in l2 :
    print(i)

else : print ("done ")  # for - else 
# Touple 
for i in l3:
    print (i)
# dictionary 
for i in l4:
    print (i)

amol
jagdish
chaudhari
1
2
3
4
done
samol
sjagdish
schaudhari
1
2
3
4
s
a
m
o
l

In [48]:
for i in range (100):
    if (i==15):
        break 
    print (i )

for i in range (0,30,2):
    if (i%10==0):
        continue 
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
2
4
6
8
12
14
16
18
22
24
26
28

In [50]:
for i in range (10):
    pass # do nouthing use as a null

In [80]:
n=5
for i in range (1,n):
    print ("   " * (n-i),end="")
    print (" * "* (2*i-1),end="")
    print ('')

             *
          *  *  *
       *  *  *  *  *
    *  *  *  *  *  *  *

In [94]:
for i in range (1,5):
    print ("*" *(i),end ="")
    print ("")

*
**
***
****

In [118]:
n=5
for i in range (0,n+1):
    for j in range (0,n+1):
        if (i==0 or i==n or j==0 or j==n):
            print (" * ",end ="")
        else : print ("   ",end ="")
    print ("")

 *  *  *  *  *  *
 *              *
 *              *
 *              *
 *              *
 *  *  *  *  *  *

In [132]:
n=5
for i in range (1,n+1):
    if (i==1 or i==n):
        print (" * " *(n),end ="")
    else : 
        print (" * ",end ="")
        print ("   "* (n-2),end ="")
        print (" * ",end ="")
    print ("")

 *  *  *  *  *
 *           *
 *           *
 *           *
 *  *  *  *  *